.Post {
    background-color: #8e8d8d;
    border: 1px solid #060606;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #f85032;
  }
  
  .Heart:hover {
    color: #015f2c;
  }
  
  .HeartOutline:hover {
    color: #f85032;
  }