.App {
  font-family: "DM Sans", sans-serif;
  background-color: #f1ede2;
  min-height: 100vh;
}

.Main {
  padding-top: 81px;
}

.Content {
  background-color: #a4aa9d;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #dadadf;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a {
  color: #050000;
  transition: color ease-in-out 0.3s;
  text-shadow: rgb(255, 238, 0) 1px 0 10px;
}

a i {
  color: #000000;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

a:hover i {
  color: #000000;
  transition: color ease-in-out 0.3s;
}

input[type="file"] {
  display: none;
}

i {
  color: #ffffff;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
  text-shadow: rgb(255, 238, 0) 1px 0 10px;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #d61919;
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
